<!DOCTYPE html>
{% load static %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Do it Sonny</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
<!--    <link rel="stylesheet" href="{% static 'single_pages/css/landing.css' %}" media="screen">-->
    <script src="https://kit.fontawesome.com/a6164e37e3.js" crossorigin="anonymous"></script>

</head>
<body>
{% include 'blog/navbar.html' %}

<!--    class = table table-bordered, or table tabel-striped, table table-hover -->
<div class="container mt-5">
    <nav>
        <h4>{{ notice.title }} </h4>
    </nav>
        <p>{{ notice.content }}</p>
        <p class="d-grid gap-2 d-md-flex justify-content-md-end">{{ notice.created_at }}</p>
    <hr/>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-outline-dark" href="/notice/"><i class="fa-solid fa-circle-left"></i>&nbsp;돌아가기</a>
    </div>
</div>

<div class="fixed-bottom">
    {% include 'blog/footer.html' %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>

